In [3]:
import os
import sys
sys.path.insert(0, '../funzioni')
from funzioni import *
import json
import os
import sys
import re
import pandas as pd
sys.path.append('../../')

In [8]:
run_dataq()

Calculating Metrics:   0%|          | 0/189 [00:00<?, ?it/s]

Consulta i risultati del data_asset_name "scraping_all_20230216" al link:
http://localhost:9000/view/great_expectations/uncommitted/data_docs/local_site/validations/Main/20230226-214923-scraping_all_20230216/20230226T214923.365022Z/c4e91d3d0445ea05aa5a84cca138ff6f.html

Calculating Metrics:   0%|          | 0/189 [00:00<?, ?it/s]

Consulta i risultati del data_asset_name "scraping_all_20230217" al link:
http://localhost:9000/view/great_expectations/uncommitted/data_docs/local_site/validations/Main/20230226-214925-scraping_all_20230217/20230226T214925.691359Z/3efa08eb01bba7de1266fd8bb26c5cf3.html

Calculating Metrics:   0%|          | 0/189 [00:00<?, ?it/s]

Consulta i risultati del data_asset_name "scraping_all_20230219" al link:
http://localhost:9000/view/great_expectations/uncommitted/data_docs/local_site/validations/Main/20230226-214927-scraping_all_20230219/20230226T214927.699892Z/e9bd252c14835612b1e4ae4a3ac712c0.html

Calculating Metrics:   0%|          | 0/189 [00:00<?, ?it/s]

Consulta i risultati del data_asset_name "scraping_all_20230224" al link:
http://localhost:9000/view/great_expectations/uncommitted/data_docs/local_site/validations/Main/20230226-214929-scraping_all_20230224/20230226T214929.748217Z/4d7cdc08e0ee331cce276f99b1b7442b.html

Calculating Metrics:   0%|          | 0/189 [00:00<?, ?it/s]

Consulta i risultati del data_asset_name "scraping_all_20230225" al link:
http://localhost:9000/view/great_expectations/uncommitted/data_docs/local_site/validations/Main/20230226-214932-scraping_all_20230225/20230226T214932.001074Z/44443cc4de44ba37642b43bd85f3a657.html
Checkpoint aggiornati o aggiunti:
 ['checkpoint_20230216', 'checkpoint_20230217', 'checkpoint_20230219', 'checkpoint_20230224', 'checkpoint_20230225', 'main_checkpoint']

In [9]:
df  = parse_json()
df

,scraping_date,dataframe_type,timestamp_run_quality,column,expectation_type,element_count,missing_count,missing_percent,unexpected_count,unexpected_percent,unexpected_percent_nonmissing,unexpected_percent_total,dataframe_type,timestamp_run_quality,scraping_date
0,2023-02-16,scraping_all_20230216,20230226T214923.394069Z,company,expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,NaN,NaN,NaN,NaN,scraping_all_20230216,20230226T214923.394069Z,2023-02-16
1,2023-02-16,scraping_all_20230216,20230226T214923.394069Z,company,expect_column_values_to_be_in_type_list,1380.0,0.0,0.000000,0.0,0.000000,0.0,0.0,scraping_all_20230216,20230226T214923.394069Z,2023-02-16
2,2023-02-16,scraping_all_20230216,20230226T214923.394069Z,company,expect_column_values_to_not_be_null,1380.0,NaN,NaN,0.0,0.000000,NaN,NaN,scraping_all_20230216,20230226T214923.394069Z,2023-02-16
3,2023-02-16,scraping_all_20230216,20230226T214923.394069Z,job_title,expect_column_values_to_be_in_type_list,1380.0,105.0,7.608696,0.0,0.000000,0.0,0.0,scraping_all_20230216,20230226T214923.394069Z,2023-02-16
4,2023-02-16,scraping_all_20230216,20230226T214923.394069Z,job_title,expect_column_values_to_not_be_null,1380.0,NaN,NaN,105.0,7.608696,NaN,NaN,scraping_all_20230216,20230226T214923.394069Z,2023-02-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,2023-02-25,scraping_all_20230225,20230226T214932.024729Z,settore,expect_column_values_to_be_in_type_list,32640.0,26976.0,82.647059,0.0,0.000000,0.0,0.0,scraping_all_20230225,20230226T214932.024729Z,2023-02-25
241,2023-02-25,scraping_all_20230225,20230226T214932.024729Z,segmento,expect_column_values_to_not_be_null,32640.0,NaN,NaN,26976.0,82.647059,NaN,NaN,scraping_all_20230225,20230226T214932.024729Z,2023-02-25
242,2023-02-25,scraping_all_20230225,20230226T214932.024729Z,segmento,expect_column_values_to_be_in_type_list,32640.0,26976.0,82.647059,0.0,0.000000,0.0,0.0,scraping_all_20230225,20230226T214932.024729Z,2023-02-25
243,2023-02-25,scraping_all_20230225,20230226T214932.024729Z,entrate,expect_column_values_to_not_be_null,32640.0,NaN,NaN,23888.0,73.186275,NaN,NaN,scraping_all_20230225,20230226T214932.024729Z,2023-02-25
244,2023-02-25,scraping_all_20230225,20230226T214932.024729Z,entrate,expect_column_values_to_be_in_type_list,32640.0,23888.0,73.186275,0.0,0.000000,0.0,0.0,scraping_all_20230225,20230226T214932.024729Z,2023-02-25

In [10]:
df_scrapingdate = df.iloc[:,:-3].groupby('scraping_date').agg({'element_count':max,'unexpected_percent':'mean', 'unexpected_percent_nonmissing':'mean', 'missing_percent':'mean' })
df_scrapingdate

,element_count,unexpected_percent,unexpected_percent_nonmissing,missing_percent
scraping_date,,,,
2023-02-16,1380.0,25.845411,0.000000,51.690821
2023-02-17,2700.0,26.845330,0.011647,53.679012
2023-02-19,4080.0,26.507720,0.008903,53.006536
2023-02-24,8160.0,26.507720,0.008903,53.006536
2023-02-25,32640.0,26.507720,0.008903,53.006536

In [11]:
df_scrapingdate_column = df.iloc[:,:-3].groupby(['scraping_date', 'column']).agg({'element_count':max,'unexpected_percent':'mean', 'unexpected_percent_nonmissing':'mean', 'missing_percent':'mean' }).reset_index()
df_scrapingdate_column

,scraping_date,column,element_count,unexpected_percent,unexpected_percent_nonmissing,missing_percent
0,2023-02-16,company,1380.0,0.000000,0.0,0.000000
1,2023-02-16,company_rating,1380.0,26.449275,0.0,52.898551
2,2023-02-16,cultura_e_valori,1380.0,36.268116,0.0,72.536232
3,2023-02-16,dimensioni,1380.0,34.565217,0.0,69.130435
4,2023-02-16,dirigenti_senior,1380.0,36.268116,0.0,72.536232
...,...,...,...,...,...,...
85,2023-02-25,sede_centrale,32640.0,36.629902,0.0,73.259804
86,2023-02-25,segmento,32640.0,41.323529,0.0,82.647059
87,2023-02-25,settore,32640.0,41.323529,0.0,82.647059
88,2023-02-25,stipendio_e_benefit,32640.0,37.659314,0.0,75.318627
89,2023-02-25,tipo,32640.0,36.593137,0.0,73.186275

In [12]:
df_column = df.iloc[:,:-3].groupby(['column']).agg({'element_count':'mean','unexpected_percent':'mean', 'unexpected_percent_nonmissing':'mean', 'missing_percent':'mean' }).reset_index()
df_column

,column,element_count,unexpected_percent,unexpected_percent_nonmissing,missing_percent
0,company,9792.0,0.000000,0.000000,0.000000
1,company_rating,9792.0,35.590236,0.000000,71.180473
2,cultura_e_valori,9792.0,37.523285,0.000000,75.046571
3,dimensioni,9792.0,36.394852,0.000000,72.789704
4,dirigenti_senior,9792.0,37.523285,0.000000,75.046571
5,entrate,9792.0,36.394852,0.000000,72.789704
6,equilibrio_lavoro_vita_privata,9792.0,37.523285,0.000000,75.046571
7,fondata_nel,9792.0,20.388564,0.138083,40.639045
8,job_age,9792.0,0.000000,0.000000,0.000000
9,job_link,9792.0,0.000000,0.000000,0.000000
10,job_title,9792.0,3.722144,0.000000,7.444288
11,location,9792.0,0.000000,0.000000,0.000000
12,oppurtunita_carriera,9792.0,37.523285,0.000000,75.046571
13,sede_centrale,9792.0,36.428022,0.000000,72.856043
14,segmento,9792.0,41.520044,0.000000,83.040087
15,settore,9792.0,41.520044,0.000000,83.040087
16,stipendio_e_benefit,9792.0,37.523285,0.000000,75.046571
17,tipo,9792.0,36.394852,0.000000,72.789704

In [13]:
df_expectation = df.iloc[:,:-3].groupby(['expectation_type']).agg({'element_count':max,'unexpected_percent':'mean', 'unexpected_percent_nonmissing':'mean', 'missing_percent':'mean' }).reset_index()
df_expectation

,expectation_type,element_count,unexpected_percent,unexpected_percent_nonmissing,missing_percent
0,expect_column_min_to_be_between,NaN,NaN,NaN,NaN
1,expect_column_values_to_be_between,32640.0,0.000000,0.000000,74.402221
2,expect_column_values_to_be_in_type_list,32640.0,0.000000,0.000000,42.249965
3,expect_column_values_to_match_regex,32640.0,0.138083,0.138083,40.639045
4,expect_column_values_to_not_be_null,32640.0,52.877888,NaN,NaN
5,expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,NaN