In [8]:
from getuseragent import UserAgent
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
useragent = UserAgent()

theuseragent = useragent.Random()
headers = {'User-Agent': theuseragent}
header = {
    "user-agent": theuseragent ,
    'referer':'https://www.google.com/'
}

url = "https://webcache.googleusercontent.com/search?q=cache:WQPzFq8hUh4J:https://it.indeed.com/Milano,-Lombardia-offerte-lavoro-Data-Scientist&cd=1&hl=it&ct=clnk&gl=it"
r = requests.get(url, headers=header)
print(url)

https://webcache.googleusercontent.com/search?q=cache:WQPzFq8hUh4J:https://it.indeed.com/Milano,-Lombardia-offerte-lavoro-Data-Scientist&cd=1&hl=it&ct=clnk&gl=it

In [3]:
# response works
r

relevant tags:
   - companyName
   - ratingsDisplay (or ratingNumber)
   - companyLocation
   - jobTitle

In [9]:
cards=[]
company=[]
job_title=[]
location=[]
rating=[]
soup = BeautifulSoup(r.text, 'html.parser')
job_list = soup.find('ul')
for li in job_list.find_all("li"):
    cards.append(li.text)
    company_name = li.find_all('span', 'companyName')
    job = li.find_all('h2', 'jobTitle')
    company_location = li.find_all('div', 'companyLocation')
    rating_jobs = li.find_all('span', 'ratingNumber')
    if len(list(company_name))> 0:
        for e in company_name:
            company.append(e.text)
    else:
        company.append('No defined')
        
    if len(list(company_location))> 0:
        for e in job:
            job_title.append(e.text)
    else:
        job_title.append('No defined')
    
    if len(list(company_location))> 0:
        for e in company_location:
            location.append(e.text)
    else:
        location.append('No defined')
        
    if len(list(rating_jobs))> 0:
        for e in rating_jobs:
            rating.append(e.text)
    else:
        rating.append('No defined')
        

dict_jobs = {'Company_Name': company, 'Job_Title': job_title, 'Location': location, 'rating':rating}
df = pd.DataFrame.from_dict(dict_jobs)
df

,Company_Name,Job_Title,Location,rating
0,Caleffi S.P.A,Senior Data Analyst / Data Scientist,"Milano, Lombardia","3,0"
1,Expandi Group,Data Engineer,20124 Milano,No defined
2,Start Hub Consulting SPA,Junior Consultant STEM - Capgemini,20148 Milano,No defined
3,Dune,Data Scientist - stage,"Milano, Lombardia",No defined
4,Data Engine srl,Data Scientist,Temporaneamente da remoto in Italia,No defined
5,No defined,No defined,No defined,No defined
6,Humanitas,Data Scientist,20089 Rozzano,"4,0"
7,Allianz Italy,DATA SCIENTIST ACTUARIAL AREA,Da remoto in 20145 Milano,"3,9"
8,CGnal,Junior Data Scientist,"Milano, Lombardia",No defined
9,Digital360,Junior Data Scientist,"Da remoto in Milano, Lombardia",No defined
10,EY,Senior Data Scientist,20123 Milano,"3,9"
11,No defined,No defined,No defined,No defined
12,GeekandJob,Data Scientist/ Data Analyst,"Da remoto in Milano, Lombardia",No defined
13,No defined,No defined,No defined,No defined
14,Rationence SRL,Junior Data Scientist,"Milano, Lombardia",No defined
15,Omicron Srl,DATA SCIENTIST/PYTHON (Remoto),"Milano, Lombardia",No defined
16,PwC,Junior Data Scientist - Milano [CNS],"Milano, Lombardia","4,0"
17,Etjca S.p.a.,DATA ENGINEER – SETTORE BANKING,"Milano, Lombardia","3,4"
18,No defined,No defined,No defined,No defined
19,Euronext,"Borsa Italiana - Associate, Junior Data Scientist","Milano, Lombardia",No defined
20,FORTIL,Data Scientist,"Da remoto in Milano, Lombardia",No defined
21,AXXAM SPA,Molecular Biology Scientist,27010 Bresso,No defined
22,SDG Group,Senior Data Scientist,Da remoto in 20124 Milano,"3,5"
23,Human Technopole,Data Scientist,20157 Milano,No defined
24,No defined,No defined,No defined,No defined
25,Connexia Società Benefit srl,JR DATA SCIENTIST,"Milano, Lombardia",No defined
26,Value Partners,Data Scientist,"Da remoto in Milano, Lombardia",No defined
27,Groupe Kering,GUCCI Senior Data Scientist,"Milano, Lombardia","3,6"