In [8]:
from getuseragent import UserAgent
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
useragent = UserAgent()

theuseragent = useragent.Random()
headers = {'User-Agent': theuseragent}
header = {
    "user-agent": theuseragent ,
    'referer':'https://www.google.com/'
}

url = "https://webcache.googleusercontent.com/search?q=cache:WQPzFq8hUh4J:https://it.indeed.com/Milano,-Lombardia-offerte-lavoro-Data-Scientist&cd=1&hl=it&ct=clnk&gl=it"
r = requests.get(url, headers=header)
print(url)

https://webcache.googleusercontent.com/search?q=cache:WQPzFq8hUh4J:https://it.indeed.com/Milano,-Lombardia-offerte-lavoro-Data-Scientist&cd=1&hl=it&ct=clnk&gl=it

In [3]:
# response works
r

In [16]:
cards=[]
company=[]
job_title=[]
location=[]
rating=[]
published_date=[]
soup = BeautifulSoup(r.text, 'html.parser')
job_list = soup.find('ul')
for li in job_list.find_all("li"):
    cards.append(li.text)
    company_name = li.find_all('span', 'companyName')
    job = li.find_all('h2', 'jobTitle')
    company_location = li.find_all('div', 'companyLocation')
    rating_jobs = li.find_all('span', 'ratingNumber')
    pulished = li.find_all('span', 'date')

    if len(list(company_name))> 0:
        for e in company_name:
            company.append(e.text)
    else:
        company.append('')
        
    if len(list(company_location))> 0:
        for e in job:
            job_title.append(e.text)
    else:
        job_title.append('')
    
    if len(list(company_location))> 0:
        for e in company_location:
            location.append(e.text)
    else:
        location.append('')
        
    if len(list(rating_jobs))> 0:
        for e in rating_jobs:
            rating.append(e.text)
    else:
        rating.append('')

    if len(list(pulished))> 0:
        for e in pulished:
            published_date.append(e.text)
    else:
        published_date.append('')
        
        

dict_jobs = {'Company_Name': company, 'Job_Title': job_title, 'Location': location, 'rating':rating, 'Date':published_date}
df = pd.DataFrame.from_dict(dict_jobs)
df

,Company_Name,Job_Title,Location,rating,Date
0,Caleffi S.P.A,Senior Data Analyst / Data Scientist,"Milano, Lombardia","3,0",Posted9 giorni fa
1,Expandi Group,Data Engineer,20124 Milano,,Posted8 giorni fa
2,Start Hub Consulting SPA,Junior Consultant STEM - Capgemini,20148 Milano,,Posted9 giorni fa
3,Dune,Data Scientist - stage,"Milano, Lombardia",,Posted15 giorni fa
4,Data Engine srl,Data Scientist,Temporaneamente da remoto in Italia,,EmployerUltimo accesso: 3 giorni fa
5,,,,,
6,Humanitas,Data Scientist,20089 Rozzano,"4,0",Posted5 giorni fa
7,Allianz Italy,DATA SCIENTIST ACTUARIAL AREA,Da remoto in 20145 Milano,"3,9",Posted26 giorni fa
8,CGnal,Junior Data Scientist,"Milano, Lombardia",,Posted3 giorni fa
9,Digital360,Junior Data Scientist,"Da remoto in Milano, Lombardia",,Posted30+ giorni fa
10,EY,Senior Data Scientist,20123 Milano,"3,9",PostedOggi
11,,,,,
12,GeekandJob,Data Scientist/ Data Analyst,"Da remoto in Milano, Lombardia",,Posted30+ giorni fa
13,,,,,
14,Rationence SRL,Junior Data Scientist,"Milano, Lombardia",,Posted30+ giorni fa
15,Omicron Srl,DATA SCIENTIST/PYTHON (Remoto),"Milano, Lombardia",,EmployerUltimo accesso: 4 giorni fa
16,PwC,Junior Data Scientist - Milano [CNS],"Milano, Lombardia","4,0",Posted30+ giorni fa
17,Etjca S.p.a.,DATA ENGINEER – SETTORE BANKING,"Milano, Lombardia","3,4",Posted30+ giorni fa
18,,,,,
19,Euronext,"Borsa Italiana - Associate, Junior Data Scientist","Milano, Lombardia",,Posted30+ giorni fa
20,FORTIL,Data Scientist,"Da remoto in Milano, Lombardia",,EmployerUltimo accesso: 12 giorni fa
21,AXXAM SPA,Molecular Biology Scientist,27010 Bresso,,Posted30+ giorni fa
22,SDG Group,Senior Data Scientist,Da remoto in 20124 Milano,"3,5",Posted4 giorni fa
23,Human Technopole,Data Scientist,20157 Milano,,Posted10 giorni fa
24,,,,,
25,Connexia Società Benefit srl,JR DATA SCIENTIST,"Milano, Lombardia",,Posted30+ giorni fa
26,Value Partners,Data Scientist,"Da remoto in Milano, Lombardia",,Posted30+ giorni fa
27,Groupe Kering,GUCCI Senior Data Scientist,"Milano, Lombardia","3,6",Posted30+ giorni fa

In [13]:
pulished = li.find_all('span', 'date')
for e in pulished:
    print(e.text)

Posted30+ giorni fa