In [1]:
## potrebbe essere interessante parsarlo in un dataframe per avere i risultati come dati tabellari
import json
import os
import sys
import pandas as pd
sys.path.append('../../')

# with open(path, "r") as read_file:
#     data = json.load(read_file)
# 
# print(data)

In [2]:
path = "../great_expectations/uncommitted/validations/Main/"

In [3]:
for cartella, sottocartelle, files in os.walk(path):
    for file in files:
        file_path = os.path.join(path, file)
        print(file_path)

../great_expectations/uncommitted/validations/Main/efd6048b7c47bfd83f7ceb6ebe9a8231.json
../great_expectations/uncommitted/validations/Main/97d7545684674b50fe8cbe7c68cd9ad0.json

In [4]:
path_data = "../great_expectations/uncommitted/validations/Main/20230208-195522-scraping_all_londra_080223/20230208T195522.324469Z/97d7545684674b50fe8cbe7c68cd9ad0.json"

In [21]:
def parse_json():   
    path = "../great_expectations/uncommitted/validations/"
    expectation_type=[]
    expectation_type=[]
    element_count=[]
    missing_count=[]
    missing_percent=[]
    partial_unexpected_counts=[]
    partial_unexpected_index_list=[]
    partial_unexpected_list=[]
    unexpected_count=[]
    unexpected_percent=[]
    unexpected_percent_nonmissing=[]
    unexpected_percent_total=[]
    column=[]
    column_list=[]
    for cartella, sottocartelle, files in os.walk(path):
        for file in files:
            file_path = os.path.join(path, file)
            with open(path_data, "r") as read_file:
                data = json.load(read_file)
                for e in data['results']:
                    try:
                        expectation_type.append(e['expectation_config']['expectation_type'])
                    except:
                        expectation_type.append(None)
                    try:
                        column.append(e['expectation_config']['kwargs']['column'])
                    except:
                        column.append(e['expectation_config']['kwargs']['column_list'][0])    
                    try:
                        column_list.append(e['expectation_config']['kwargs']['column_list'])
                    except:
                        column_list.append(None)          
                    try:
                        element_count.append(e['result']['element_count'])
                    except:
                        element_count.append(None)
                    try:
                        missing_count.append(e['result']['missing_count'])
                    except:
                        missing_count.append(None)
                    try:
                        missing_percent.append(e['result']['missing_percent'])
                    except:
                        missing_percent.append(None)
                    try:
                        partial_unexpected_counts.append(e['result']['partial_unexpected_counts'])
                    except:
                        partial_unexpected_counts.append(None)
                    try:
                        partial_unexpected_index_list.append(e['result']['partial_unexpected_index_list'])
                    except:
                        partial_unexpected_index_list.append(None)
                    try:
                        partial_unexpected_list.append(e['result']['partial_unexpected_list'])
                    except:
                        partial_unexpected_list.append(None)
                    try:
                        unexpected_count.append(e['result']['unexpected_count'])
                    except:
                        unexpected_count.append(None)
                    try:
                        unexpected_percent.append(e['result']['unexpected_percent'])
                    except:
                        unexpected_percent.append(None)
                    try:
                        unexpected_percent_nonmissing.append(e['result']['unexpected_percent_nonmissing'])
                    except:
                        unexpected_percent_nonmissing.append(None)
                    try:
                        unexpected_percent_total.append(e['result']['unexpected_percent_total'])
                    except:
                        unexpected_percent_total.append(None)
                    try:
                        expectation_type.append(e['expectation_config']['expectation_type'])
                    except:
                        expectation_type.append(None)
                    try:
                        column.append(e['expectation_config']['kwargs']['column'])
                    except:
                        column.append(e['expectation_config']['kwargs']['column_list'][0])    
                    try:
                        column_list.append(e['expectation_config']['kwargs']['column_list'])
                    except:
                        column_list.append(None)          
                    try:
                        element_count.append(e['result']['element_count'])
                    except:
                        element_count.append(None)
                    try:
                        missing_count.append(e['result']['missing_count'])
                    except:
                        missing_count.append(None)
                    try:
                        missing_percent.append(e['result']['missing_percent'])
                    except:
                        missing_percent.append(None)
                    try:
                        partial_unexpected_counts.append(e['result']['partial_unexpected_counts'])
                    except:
                        partial_unexpected_counts.append(None)
                    try:
                        partial_unexpected_index_list.append(e['result']['partial_unexpected_index_list'])
                    except:
                        partial_unexpected_index_list.append(None)
                    try:
                        partial_unexpected_list.append(e['result']['partial_unexpected_list'])
                    except:
                        partial_unexpected_list.append(None)
                    try:
                        unexpected_count.append(e['result']['unexpected_count'])
                    except:
                        unexpected_count.append(None)
                    try:
                        unexpected_percent.append(e['result']['unexpected_percent'])
                    except:
                        unexpected_percent.append(None)
                    try:
                        unexpected_percent_nonmissing.append(e['result']['unexpected_percent_nonmissing'])
                    except:
                        unexpected_percent_nonmissing.append(None)
                    try:
                        unexpected_percent_total.append(e['result']['unexpected_percent_total'])
                    except:
                        unexpected_percent_total.append(None)
                    try:
                        expectation_type.append(e['expectation_config']['expectation_type'])
                    except:
                        expectation_type.append(None)
                    try:
                        column.append(e['expectation_config']['kwargs']['column'])
                    except:
                        column.append(e['expectation_config']['kwargs']['column_list'][0])    
                    try:
                        column_list.append(e['expectation_config']['kwargs']['column_list'])
                    except:
                        column_list.append(None)          
                    try:
                        element_count.append(e['result']['element_count'])
                    except:
                        element_count.append(None)
                    try:
                        missing_count.append(e['result']['missing_count'])
                    except:
                        missing_count.append(None)
                    try:
                        missing_percent.append(e['result']['missing_percent'])
                    except:
                        missing_percent.append(None)
                    try:
                        partial_unexpected_counts.append(e['result']['partial_unexpected_counts'])
                    except:
                        partial_unexpected_counts.append(None)
                    try:
                        partial_unexpected_index_list.append(e['result']['partial_unexpected_index_list'])
                    except:
                        partial_unexpected_index_list.append(None)
                    try:
                        partial_unexpected_list.append(e['result']['partial_unexpected_list'])
                    except:
                        partial_unexpected_list.append(None)
                    try:
                        unexpected_count.append(e['result']['unexpected_count'])
                    except:
                        unexpected_count.append(None)
                    try:
                        unexpected_percent.append(e['result']['unexpected_percent'])
                    except:
                        unexpected_percent.append(None)
                    try:
                        unexpected_percent_nonmissing.append(e['result']['unexpected_percent_nonmissing'])
                    except:
                        unexpected_percent_nonmissing.append(None)
                    try:
                        unexpected_percent_total.append(e['result']['unexpected_percent_total'])
                    except:
                        unexpected_percent_total.append(None)
                    try:
                        expectation_type.append(e['expectation_config']['expectation_type'])
                    except:
                        expectation_type.append(None)
                    try:
                        column.append(e['expectation_config']['kwargs']['column'])
                    except:
                        column.append(e['expectation_config']['kwargs']['column_list'][0])    
                    try:
                        column_list.append(e['expectation_config']['kwargs']['column_list'])
                    except:
                        column_list.append(None)          
                    try:
                        element_count.append(e['result']['element_count'])
                    except:
                        element_count.append(None)
                    try:
                        missing_count.append(e['result']['missing_count'])
                    except:
                        missing_count.append(None)
                    try:
                        missing_percent.append(e['result']['missing_percent'])
                    except:
                        missing_percent.append(None)
                    try:
                        partial_unexpected_counts.append(e['result']['partial_unexpected_counts'])
                    except:
                        partial_unexpected_counts.append(None)
                    try:
                        partial_unexpected_index_list.append(e['result']['partial_unexpected_index_list'])
                    except:
                        partial_unexpected_index_list.append(None)
                    try:
                        partial_unexpected_list.append(e['result']['partial_unexpected_list'])
                    except:
                        partial_unexpected_list.append(None)
                    try:
                        unexpected_count.append(e['result']['unexpected_count'])
                    except:
                        unexpected_count.append(None)
                    try:
                        unexpected_percent.append(e['result']['unexpected_percent'])
                    except:
                        unexpected_percent.append(None)
                    try:
                        unexpected_percent_nonmissing.append(e['result']['unexpected_percent_nonmissing'])
                    except:
                        unexpected_percent_nonmissing.append(None)
                    try:
                        unexpected_percent_total.append(e['result']['unexpected_percent_total'])
                    except:
                        unexpected_percent_total.append(None)
    df_expectations = pd.DataFrame() 
    df_expectations['column'] = column
    df_expectations['column_list'] = column_list
    df_expectations['expectation_type']=expectation_type
    df_expectations['element_count'] = element_count
    df_expectations['missing_count'] = missing_count
    df_expectations['missing_percent'] = missing_percent
    df_expectations['partial_unexpected_counts'] = partial_unexpected_counts
    df_expectations['partial_unexpected_index_list'] = partial_unexpected_index_list
    df_expectations['partial_unexpected_list'] = partial_unexpected_list
    df_expectations['unexpected_count'] = unexpected_count
    df_expectations['unexpected_percent'] = unexpected_percent
    df_expectations['unexpected_percent_nonmissing'] = unexpected_percent_nonmissing
    df_expectations['unexpected_percent_total'] = unexpected_percent_total
    dataframe_type=data['meta']['active_batch_definition']['data_asset_name']
    timestamp_run =data['meta']['batch_markers']['ge_load_time']
    df_expectations['dataframe_type']=dataframe_type
    df_expectations['timestamp_run']=timestamp_run
    df_expectations = df_expectations[ ['dataframe_type'] + ['timestamp_run']+ [ col for col in df_expectations.columns if (col != 'dataframe_type')|(col != 'timestamp_run')] ]
    return df_expectations

In [22]:
parse_json()

,dataframe_type,timestamp_run,column,column_list,expectation_type,element_count,missing_count,missing_percent,partial_unexpected_counts,partial_unexpected_index_list,partial_unexpected_list,unexpected_count,unexpected_percent,unexpected_percent_nonmissing,unexpected_percent_total,dataframe_type,timestamp_run
0,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
1,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
2,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
3,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
4,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
5,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
6,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
7,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
8,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
9,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
10,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
11,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
12,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
13,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
14,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
15,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
16,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
17,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
18,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
19,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
20,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
21,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
22,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
23,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
24,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
25,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
26,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
27,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
28,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
29,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
30,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
31,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
32,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
33,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
34,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
35,scraping_all_londra_080223,20230208T195522.349144Z,company,"[company, job_title, location, company_rating,...",expect_table_columns_to_match_ordered_list,NaN,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
36,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
37,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
38,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
39,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_be_in_type_list,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
40,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
41,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
42,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
43,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_null,900.0,NaN,NaN,[],[],[],0.0,0.0,NaN,NaN,scraping_all_londra_080223,20230208T195522.349144Z
44,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
45,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
46,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z
47,scraping_all_londra_080223,20230208T195522.349144Z,company,None,expect_column_values_to_not_be_in_set,900.0,0.0,0.0,[],[],[],0.0,0.0,0.0,0.0,scraping_all_londra_080223,20230208T195522.349144Z